.pagination {
	margin-top: 16px;
	margin: 16px auto 0;
	display: flex;
	color: var(--color-text-dark);
	justify-content: center;
}

.page {
	text-align: center;
	cursor: pointer;
}
.page + .page {
	margin-left: 8px;
}

.dots {
	margin: 0 8px;
}

.page_active {
	font-weight: bold;
	color: var(--color-text);
}
