.bestFriends {
}

.header {
	font-size: 22px;
	line-height: 27px;
	color: white;
	margin: 0;
}

.friendItems {
	margin-top: 4px;
	display: flex;
}

.item {
}

.item + .item {
	margin-left: 4px;
}

.avatar {
	width: 48px;
	height: 48px;
	border-radius: 100%;
}
