.statusContainer {
	margin-top: 16px;
	display: flex;
	align-items: center;
}

.status,
.statusInput {
	font-size: 18px;
	line-height: 24px;
}

.status {
	color: var(--color-text);
}

.status_empty {
	color: var(--color-text-dark);
}

.statusInput {
	color: var(--color-text);
	padding: 0;
	margin: 0;
	border: none;
	min-width: auto;
	border-radius: 3px;
	background: none;
	width: 100%;
}

.editBtn {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	width: 24px;
	height: 24px;
	mask: url('../../../assets/icons/edit.svg') no-repeat;
	background-color: var(--color-text);
	mask-size: cover;
	margin-left: 16px;
}
