.header {
	grid-area: h;
	background-color: var(--color-primary);
	padding: 8px 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.loginContainer {
	display: flex;
	align-items: center;
}

.nameAndLogout {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.title {
	text-transform: uppercase;
	font-size: 47px;
	line-height: 64px;
	font-weight: 900;
	color: white;
}

.logoutBtn {
	border: 0;
	text-decoration: underline;
	background: none;
	color: var(--color-text);
	cursor: pointer;
	font-family: inherit;
	padding: 0;
}

.avatar {
	width: 52px;
	height: 52px;
	margin-left: 12px;
	border-radius: 100%;
}
