.header {
	grid-area: h;
	background-color: var(--color-primary);
	padding: 8px 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.loginContainer {
	display: flex;
	align-items: center;
}

.avatar {
	width: 52px;
	height: 52px;
	margin-left: 8px;
	border-radius: 100%;
}

.title {
	text-transform: uppercase;
	font-size: 47px;
	line-height: 64px;
	font-weight: 900;
	color: white;
}
