.container {
	padding: 32px;
}

.searchForm {
	display: flex;
	align-items: center;
}

.searchInput {
	font-size: 16px;
	line-height: 19px;
	padding: 0 8px;
	margin-right: 16px;
	flex-grow: 1;
	color: #ffffff;
	border-radius: 6px;
	height: 38px;
	background-color: var(--color-primary-light);
	border: none;
}

.friendSelect {
	width: 140px;
}

.users {
	margin-top: 24px;
}
