.container {
	padding: 32px;
}

.pagination {
	margin-top: 16px;
	margin: 16px auto 0;
	display: flex;
	justify-content: center;
}

.page {
	cursor: pointer;
}
.page + .page {
	margin-left: 8px;
}

.page_active {
	font-weight: bold;
}
