.myPosts {
}

.addPost {
	padding: 32px 0;
}

.postTextArea {
	border-radius: 6px;
	background-image: var(--gradient-main);
	color: var(--color-text);
	font-size: 16px;
	line-height: 21px;
	border: none;
	width: 100%;
	min-height: 100px;
	padding: 8px 12px;
	resize: none;
}

.postBtn {
	display: block;
	width: 180px;
	border-radius: 6px;
	border: none;
	padding: 10px 32px;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	background-color: var(--color-secondary);
	cursor: pointer;
	/* margin-top: 8px; */
	margin: 8px 0 0 auto;
}

.postsHeader {
	margin: 0 0 16px 0;
	color: var(--color-text);
}

.posts {
}
