.nav {
	grid-area: n;
	background-color: var(--color-primary);
	padding: 16px;
}

.item + .item {
	margin-top: 8px;
}

.itemLink {
	font-size: 20px;
	line-height: 26px;
	text-transform: lowercase;
	color: var(--color-primary-light);
}

.itemLink_active {
	color: white;
}
