.mainInfo {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
}

.avatarAndMainInfo {
	display: flex;
}

.avatarContainer {
	position: relative;
}

.avatar {
	width: 128px;
	height: 128px;
	border-radius: 100%;
}

.avatarUpload {
	position: absolute;
	right: 0;
	top: 0;
	width: 24px;
	height: 24px;
	mask: url('../../../assets/icons/camera.svg');
	mask-size: cover;
	background-color: var(--color-text);
}

.avatarUploadInput {
	cursor: pointer;
	opacity: 0;
}

.mainInfo {
	padding-left: 22px;
}

.name {
	font-size: 24px;
	line-height: 29px;
	font-weight: bold;
}

.job {
	padding-top: 12px;
}
