.post {
	display: flex;

}

.post + .post {
	margin-top: 10px;
}

.avatar {
}

.avatarImg {
	width: 64px;
	height: 64px;
	border-radius: 100%;
}

.likes {
	text-align: center;
}

.text {
	padding-left: 24px;
	font-size: 14px;
	line-height: 16px;
}
