@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
	box-sizing: border-box;
	font-family: inherit;
}

:root {
	--color-primary: #1dabb8;
	--color-primary-light: #d2e5e7;
	--color-secondary: #2364aa;
	--color-text: #075158;
	--gradient-main: linear-gradient(-180deg, #83d6de, #91e1e9);
}

body {
	font-family: 'Roboto';
}

.container {
	max-width: 960px;
	margin: 0 auto;
	display: grid;
	grid-template-rows: 0fr 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;
	grid-template-areas:
		'h h'
		'n c';
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

.content {
	grid-area: 'c';
	background-color: var(--color-primary);
}
