@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
	box-sizing: border-box;
	font-family: inherit;
}

:root {
	--color-primary: #333333;
	--color-primary-light: #444444;
	--color-secondary: #222226;
	--color-text: #ffffff;
	--color-text-dark: #a1a7aa;
	--color-error: #e32626;
}

body {
	font-family: 'Roboto';
	color: var(--color-text);
	background-color: var(--color-secondary);
}

.container {
	max-width: 960px;
	margin: 0 auto;
	display: grid;
	min-height: 100vh;
	grid-template-rows: 0fr 2fr;
	grid-template-columns: 2fr 8fr;
	grid-gap: 10px;
	grid-template-areas:
		'h h'
		's c';
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

.content {
	grid-area: 'c';
	background-color: var(--color-primary);
}

.btnBase {
	text-align: center;
	display: block;
	min-width: 180px;
	border-radius: 6px;
	border: none;
	padding: 10px 32px;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	background-color: var(--color-primary-light);
	cursor: pointer;
}

.inputBase {
	border-radius: 6px;
	background-color: var(--color-primary-light);
	color: var(--color-text);
	font-size: 16px;
	line-height: 21px;
	border: none;
	width: 100%;
	padding: 8px 12px;
	resize: none;
}

.roundBorderContainer {
	color: var(--color-text);
	background-color: var(--color-primary-light);
	border-radius: 6px;
	padding: 12px;
}

input[type='checkbox'] {
	top: 2px;
	position: relative;
}

.shadowBase {
	box-shadow: 0px 3px 6px #00000055;
}
