.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
	padding-bottom: 16px;
}

.dialogItems {
	max-width: 250px;
}

.dialogContainer {
	padding: 32px 16px 0 16px;
}

.messageTextArea {
	margin-top: 16px;
	border-radius: 6px;
	background-image: var(--gradient-main);
	color: var(--color-text);
	border: none;
	width: 100%;
	min-height: 100px;
	resize: none;
}

.sendBtn {
	margin: 8px 0 0 auto;
}
