.message + .message {
	margin-top: 8px;
}

.message_right {
	text-align: right;
}

.text {
	display: inline-block;
	border-radius: 100px;
	padding: 12px 14px;
	background-color: var(--color-primary-light);
}
