.message {
	margin: 0 8px 0 0px;
}

.message + .message {
	margin-top: 8px;
}

.message_right {
	text-align: right;
	margin: 0 0 0 8px;
}

.text {
	display: inline-block;
	border-radius: 25px;
	word-wrap: break-word;
	/* min-height: 45px; */
	padding: 8px 12px;
	vertical-align: middle;
	background-color: var(--color-primary-light);
}
